<div class='container'>
  <h1 class="font-bold text-4xl pb-6"><%= PartOfSpeech.model_name.human count: 2 %></h1>

  <table class="min-w-full table-auto">
    <thead class="text-xl text-gray-700 bg-gray-200">
      <tr>
        <th scope="col" class="px-4 py-0"><%= PartOfSpeech.human_attribute_name("de") %></th>
        <th scope="col" class="px-6 py-0"><%= PartOfSpeech.human_attribute_name("en") %></th>
        <th scope="col" class="px-6 py-0"><%= PartOfSpeech.human_attribute_name("ru") %></th>

      </tr>
    </thead>
    <tbody>
      <% @parts_of_speech.each do |pos| %>
        <tr class="text-xl bg-blue-100 text-center even:bg-blue-50 odd:bg-green-50">
          <td class="px-6 py-4"><%= pos.de %></td>
          <td class="px-6 py-4"><%= pos.en %></td>
          <td class="px-6 py-4"><%= pos.ru %></td>
        </tr>

        <% unless pos.cmt_de.nil? %>
          <tr class='bg-red-100'><td><%= pos.cmt_de %></td></tr>
        <% end %>
        <% unless pos.cmt_en.nil? %>
          <tr class='bg-red-100'><td><%= pos.cmt_en %></td></tr>
        <% end %>
        <% unless pos.cmt_ru.nil? %>
          <tr class='bg-red-100'><td colspan=3><%= pos.cmt_ru %></td></tr>
        <% end %>          
      <% end %>
    </tbody>

  </table>
</div>
