  <h3 class="font-bold text-xl"><%= t(:declension) %></h3>

  <table class="min-w-full table-auto border border-collapse border-slate-500">
    <thead class="text-xl text-gray-700 bg-green-200">
      <tr>
        <th class="px-10 py-0 border border-slate-400"><%= Gcase.model_name.human %></th>
        <th class="px-6 py-0 border border-slate-400"><%= Number.find_by(en: 'singular')[locale].capitalize %></th>
        <th class="px-6 py-0 border border-slate-400"><%= Number.find_by(en: 'plural')[locale].capitalize %></th>
      </tr>
    </thead>     
    <tbody class='bg-green-100'>
      <% Gcase.all.each do |gcase| %>
        <tr>
          <td><%= gcase[locale].capitalize %></td>
          <td><%= declension_singular(noun, gcase.abbr_de) %></td>
          <td><%= declension_plural(noun, gcase.abbr_de) %><%= ending(noun) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
