<%= form_with(model: noun, class: "contents") do |form| %>
  <% if noun.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(noun.errors.count, "error") %> prohibited this noun from being saved:</h2>

      <ul>
        <% noun.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :part_of_speech_id, value: PartOfSpeech.find_by(en: 'noun').id %>
    <%#= collection_select(:noun, :part_of_speech_id, localized_parts_of_speech, :id, locale)%>
  </div>    

  <div class="my-5">
    <%= form.label :level %>
    <%= form.select :level, Noun.levels.keys %>
  </div>

  <div class="my-5">
    <%= form.label :gender_id, Gender.model_name.human(count: 1) %>
    <%= collection_select(:noun, :gender_id, Gender.all, :id, locale) %>
  </div>

  <div class="my-5">
    <%= form.text_field :de, 
      placeholder: @noun.class.human_attribute_name('de'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :en,
      placeholder: @noun.class.human_attribute_name('en'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :ru %>
    <%= form.text_field :ru,
      placeholder: @noun.class.human_attribute_name('ru'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :transcription %>
    <%= form.text_field :transcription,
      placeholder: @noun.class.human_attribute_name('transcription'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :ending %>
    <%= form.select :ending, Noun.endings.keys %>
  </div>

  <div class="my-5">
    <%= form.label :kind %>
    <%#= form.select :kind, Noun.kinds.keys %>
    <%= form.select :kind, Noun.kinds.keys.map{|key| [I18n.t("activerecord.attributes.noun.kinds.#{key}".to_sym), key]}%>
  </div>

  <div class="my-5">
    <%= form.label :sg_suffix %>
    <%= form.select :sg_suffix, Noun.sg_suffixes.keys %>
  </div>

  <div class="my-5">
    <%= form.label :pl_suffix %>
    <%= form.select :pl_suffix, Noun.pl_suffixes.keys %>
  </div>

  <div class="my-5">
    <%= form.text_field :comment,
      placeholder: @noun.class.human_attribute_name('comment'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <h2 class="font-bold text-xl text-yellow-700 py-4"><%= NounDeclension.model_name.human(count: 2) %></h2>
  <table class="min-w-full table-auto">
      <thead class="text-gray-700 bg-gray-200">
          <tr>
          <th scope="col" class="text-lg px-4 py-0 mt-2"><%= Gcase.model_name.human %></th>
          <th scope="col" class="text-lg px-4 py-0 mt-2"><%= Number.find_by(en: 'singular')[locale].capitalize %></th>
          <th scope="col" class="text-lg px-4 py-0 mt-2"><%= Number.find_by(en: 'plural')[locale].capitalize %></th>
          </tr>
      </thead>
  </table>
  <%= render "declension_form", form: form, noun: @noun %>

  <h2 class="font-bold text-xl text-yellow-700 py-4"><%= NounExample.model_name.human(count: 2) %></h2>
  <%= render "examples_form", form: form, noun: @noun %>

  <div class="inline">
    <br>
    <%= form.submit t('buttons.create'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
