<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @noun %>
    <%= render 'declension', noun: @noun %>

    <%= link_to t('buttons.edit'), edit_noun_path(@noun), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t('buttons.back'), nouns_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to t('buttons.destroy'), @noun, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium",
            form: { data: { turbo_confirm: t('messages.confirm') } } %>
    </div>
  </div>
</div>
