<div class='container p-8'>

  <h1 class="font-bold text-4xl text-center"><%= t(:home) %></h1>
  <h2 class='text-center'><%= t(:hello) %></h2>

  <div class="grid md:grid-cols-3 gap-4">
    <div>
       <%= image_tag "logos/rails_propshaft.png", class: "bject-contain h-48 w-96 rounded-lg" %>
    </div>
    <div>
       <%= image_tag "logos/hotwire.png", class: "bject-contain h-48 w-96 rounded-lg" %>
    </div>
    <div>
       <%= image_tag "logos/tailwind.png", class: "bject-contain h-48 w-96 rounded-lg" %>
    </div>
  </div>
</div>
