<table> 
  <tbody>
      <%= form.fields_for :conjugations do |conjugation_subform| %>        
        <tr>
            <td class='text-xl font-bold text-red-700 px-4 py-0 mt-2'><%= conjugation_subform.text_field :personal_pronoun,
                placeholder: Conjugation.human_attribute_name('personal_pronoun'), 
                class: "block shadow rounded-md border border-gray-400 outline-none px-4 py-2 mt-2 w-full" %>
            </td>
            <td class='text-xl px-4 py-0 mt-2'><%= conjugation_subform.text_field :present_simple,
                placeholder: Conjugation.human_attribute_name('present_simple'), 
                class: "block shadow rounded-md border border-gray-400 outline-none px-4 py-2 mt-2 w-full" %>
            </td>
            <td class='text-xl px-4 py-0 mt-2'><%= conjugation_subform.text_field :past_simple,
                placeholder: Conjugation.human_attribute_name('past_simple'),
                class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            </td>
            <td class='text-xl px-8 py-0 mt-2'><%= conjugation_subform.text_field :present_perfect,
                placeholder: Conjugation.human_attribute_name('present_perfect'),
                class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
            </td>
        </tr>
      <% end %>
  </tbody>
</table>
