<%= form_with(model: verb, class: "contents") do |form| %>
  <% if verb.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(verb.errors.count, "error") %> prohibited this verb from being saved:</h2>

      <ul>
        <% verb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :part_of_speech_id, value: PartOfSpeech.find_by(en: 'verb').id %>
  </div>   

  <div class="my-5">
    <%= form.label :level %>
    <%= form.select :level, Verb.levels.keys %>
  </div>

  <div class="my-5">
    <%= form.label :stem_vowel %>
    <%= form.collection_select(:stem_vowel_id, StemVowel.all, :id, :scheme, include_blank: false) %>
  </div>

  <div class="my-5">
    <%= form.text_field :infinitive, placeholder: @verb.class.human_attribute_name('infinitive'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :present, placeholder: @verb.class.human_attribute_name('present'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :past, placeholder: @verb.class.human_attribute_name('past'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :participle, placeholder: @verb.class.human_attribute_name('participle'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :trascription, placeholder: @verb.class.human_attribute_name('trascription'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :ru, placeholder: @verb.class.human_attribute_name('ru'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.text_field :en, placeholder: @verb.class.human_attribute_name('en'),
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
    %>
  </div>

  <div class="my-5">
    <%= form.label :form %>
    <%#= form.select :form, Verb.forms.keys %>
    <%= form.select :form, Verb.forms.keys.map{|key| [I18n.t("activerecord.attributes.verb.forms.#{key}".to_sym), key]}%>
  </div>

  <div class="my-5">
    <%= form.label :auxiliary %>
    <%= form.select :auxiliary, Verb.auxiliaries.keys %>
  </div>

  <div class="my-5">
    <%= form.label :prefix %>
    <%#= form.select :prefix, Verb.prefixes.keys %>
    <%= form.select :prefix, Verb.prefixes.keys.map{|key| [I18n.t("activerecord.attributes.verb.prefixes.#{key}".to_sym), key]}%>
  </div>

  <h2 class="font-bold text-xl py-4"><%= Conjugation.model_name.human(count: 2) %></h2>
    <%= render "conjugation_form", form: form %>

  <h2 class="font-bold text-xl py-4 mt-2"><%= VerbExample.model_name.human(count: 2) %></h2>
  <%= render "examples_form", form: form, object: @verb %>

  <div class="inline">
    <br>
    <%= form.submit t('buttons.create'), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
